<?php
// .php_cs.dist
namespace PhpCsFixer;

return Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'declare_strict_types' => true,
    ])
    ->setFinder(
        Finder::create()
            ->exclude('resources')
            ->in(__DIR__)
    );